*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    background-image: url("https://media.tenor.com/O2qTrmWzzFMAAAAM/natural-harmonia-gropius-n-pokemon.gif?raw=true");
    height: 100vh;
    width: 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-clip: border-box;
    background-size: cover;
}
.block{
    display: block;
}

.m-auto{
    margin: auto;
}

.w-full{
    width: 100%;
}


img{
    width: 800px;
}

@media screen and (max-width: 767px) {
    img{
        width:100%;
    }
}